# --- Sistema ---
.git/
*.log
*~
*.swp

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.pickle
*.bin
*.pt

# --- Virtualenv ---
venv/
venv311/
.env
pip-wheel-metadata/

# --- Jupyter ---
.ipynb_checkpoints/

# --- PDFs e documentos ---
pdf_documents/
*.pdf
backend/notebooks/temp_pdfs/

# --- Node / React ---
node_modules/
dist/
build/
.cache/

# --- IDEs / Editores ---
.vscode/
.idea/

# --- Projetos Anaconda ---
anaconda_projects/
anaconda_projects/db/

# --- ChromaDB ---
**/chroma_db/
chromadb/
backend/temp/
*.sqlite3
