# Ignorar arquivos grandes e objetos do Git
.git/objects/0b/13ac077538158a65815800bfed117d9a90383a
pdf_documents/.ipynb_checkpoints/EIA_Example4-checkpoint.pdf
pdf_documents/EIA_Example4.pdf
pdf_documents/.ipynb_checkpoints/*.pdf
