# ============================================
# LLMs e Processamento de Texto
# ============================================
PyMuPDF
sentence-transformers
spacy
langchain==0.2.16
langchain-openai==0.1.7
langchain-community==0.2.16
openai
langgraph
ipykernel
python-dotenv

# ============================================
# Visão Computacional e Processamento de Imagens
# ============================================
torch
torchvision
Pillow
transformers
accelerate
pytesseract
easyocr

# ============================================
# Geoprocessamento e Mapas
# ============================================
rasterio
geopandas
shapely
fiona
matplotlib

# ============================================
# API e Integração com Frontend
# ============================================
fastapi
uvicorn[standard]
httpx
requests

#python -m spacy download pt_core_news_sm